.about-us {

    h1 {
        text-align: center;
        line-height: 44px;

        @media (min-width: map-get($breakpoints, md)) {
            text-align: left;
        }

        @media (min-width: map-get($breakpoints, lg)) {
            font-size: 48px;
            max-width: 530px;
        }
    }

  &__desktop,
  &__background {
    display: none;

    @media (min-width: map-get($breakpoints, md)) {
        display: initial;
        grid-row: 1;
    }
  }

  &__desktop {
    align-self: center;
    transform: translateX(-35px);
  }

  &__mobile {
    @media (min-width: map-get($breakpoints, md)) {
        display: none;
    }
  }
}