.contact {


    &__info-image {
        grid-row: 1;
        height: 430px;
        object-fit: cover;

        @media (min-width: map-get($breakpoints, lg)) {
            min-height: 500px;
        }

        @media (min-width: map-get($breakpoints, xl)) {
            min-height: 670px;
        }
    }

    // .wrapper > :first-child {
    //     margin: -20px; /* Negative margin equals the wrapper's padding */

    //     @media (min-width: map-get($breakpoints, lg)) {
    //         margin: -200px;
    //     }
    // }

    &__info-text {
        grid-row: 1;
        width: fit-content;
        height: fit-content;
        justify-self: center;

        @media (min-width: map-get($breakpoints, lg)) {
            margin-top: 35%;
            margin-right: 12%;
        }
    }

    &__form {
        align-items: center;

        &-title {
            @media (min-width: map-get($breakpoints, lg)) {
                text-align: left;

                p {
                    font-size: 16px;
                }
            }
        }


        &-group--modifier {
            gap: 3px;
        }

        label {
            font-weight: 700;
        }
        
        input,
        textarea {
            margin-bottom: 15px;
            border: 2px solid var(--color-grey-200);
        }

        input {
            height: 49px;
            font-size: 24px;

            @media (min-width: map-get($breakpoints, lg)) {
                margin: 0;
                font-size: 32px;
            }
        }
    }
}