.gtmStrategies {

    .wrapper {
        position: relative;
    }

    &__card {
        background-color: var(--color-grey-300);
        margin-block: 1rem;
        padding: 2rem 3.5rem;
    }

    h1 {
        text-align: center;

        @media (min-width: map-get($breakpoints, lg)) {
            text-align: left;
            font-size: 54px;
        }
    }

    span {
        font-weight: 500;
        color: #000;
    }

    p {
        font-weight: 300;
    }
}


.swiper-container {

    @media (min-width: map-get($breakpoints, lg)) {
        width: 600px;
        overflow: hidden;
    }
    .swiper-wrapper {
        display: block;
    
        @media (min-width: map-get($breakpoints, lg)) {
            display: flex;
        }
    }
}

.swiper-button-prev::after, .swiper-rtl .swiper-button-next::after,
.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
    color: var(--color-grey-100);
}

.swiper-buttons {

    display: none;

    @media (min-width: map-get($breakpoints, lg)) {
        position: absolute;
        right: 24px;
        top: 19%;
        display: flex;
        gap: 15px;
    }
}


