.logos {

    &__desktop {
        display: none;

        @media (min-width: map-get($breakpoints, md)) {
			display: initial;
		}
    }

    &__mobile {
        @media (min-width: map-get($breakpoints, md)) {
            display: none;
		}
    }
}