.logos {

    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);

    @media (min-width: map-get($breakpoints, md)) {
        box-shadow: none;
    }

    &__desktop {
        display: none;

        @media (min-width: map-get($breakpoints, md)) {
			display: initial;
		}
    }

    &__mobile {
        @media (min-width: map-get($breakpoints, md)) {
            display: none;
		}
    }
}